.fundo2{
    margin: 20px auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: space-between;
}
.cardin{
    width: 374px;
    height:524px;
    object-fit:cover;
    background-image: url("https://images.pexels.com/photos/10143573/pexels-photo-10143573.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
.barrin{
    background-color: rgb(207, 207, 207);
    width: 100%;
    height: 25px;
    color: rgb(0, 0, 0);
}