.container{
    width: 100%;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    background-color: rgba(230, 89, 89, 0.973);
}

.min-height{
    min-height: 40%;
}
.start{
    justify-content: flex-start;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
}
.entrada{
    background-size: 100%;
    float:left;
    width:100% ;
    height: 100%;
}
.coluna_p{
    background-color:rgba(0, 0, 0, 0.973);
    color:rgb(190, 190, 190);
    text-align: center;
    font-weight: bold;
    height: 3rem;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    padding: 1mm 1mm;
}
.title{
    color:aliceblue;
    font-size: 45px;

}
.figure{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/img/entrada1.jpg");
    background-blend-mode: darken;
    background-size: cover;
    width:100% ;
    height: 600px;
}
.label{
    position:absolute;
    top: 145px;
    right: 20px;
}
.subtext{
    color:#ffff;
    font-size: 18px;
    text-decoration: underline overline;
}
