.footer{
    background-color: #ddc7c7;
    color: rgb(0, 0, 0);
    padding: 3em;
    text-align: center;

}
.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 1em;
}
.social_list :hover{
    color: rgb(99, 4, 48);
}
.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
    list-style-type: none;
}
.copy_right{
    margin-top: 2em;
    font-weight: bold;
    color: rgb(99, 4, 48);
}
