.cardis{
    width: 100%;
    height:270px;
    border-radius: 30px;
    object-fit:cover
}
.coracao{
    cursor: pointer;
}
.textinho{
    text-align: start;
    font-size: 12px;
    padding: 0 10px;
}
.listadeprodutos{
    margin: 20px auto;
    margin-bottom: 0;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.336);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cardu{
    width:340px;
    height:330px;
    margin-right:20px;
    margin-left:30px;
    margin-top:30px;
    background-color: none;
}
.texto{
    display: flex;
    justify-content:space-between;
}
.coluna_m{
    background-color:rgba(235, 151, 172, 0.973);
    color:rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.descri{
    display: flex;
    flex-direction: row-reverse;
}
.card-title{
    margin-left: 12px;
}
.valor{
    font-size: 17px;
}