.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 180, 203);
    padding: 1em;
    align-items: center;
    
}
.list{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.item a {
    margin-right: 1em;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.item :hover {
    color: rgb(99, 4, 48);
}
.logo{
    width: 70px;
}