.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(211, 24, 99, 0.973);
    padding: 1em;
    align-items: center;
    
}
.list{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
}
.item a {
    margin-right: 1em;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.item :hover {
    color: rgb(209, 208, 208);
}
.logo{
    width: 50px;

}
.barra {
    width: 100%;
    background-color: rgb(209, 208, 208);
}
.coluna_b{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1mm 1mm;
}
.inauguração{
    width: 20px;  
}
.veja{
    width: 20px;
}
.mapa{
    width: 20px;
}
.col-4 a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.col-4 a span{
    margin-left: 8px ;
    color:black
}