.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 208, 222);
    padding: 2em;
    align-items: center;
    
}
.list{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 2em;
}
.item a {
    margin-right: 1em;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.item :hover {
    color: rgb(99, 4, 48);
}
.logo{
    width: 50px;

}

.barra {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(231, 224, 224);
    align-items: center;
}
.container{
    display:flex;
    flex-grow: 1;
}