.fundo3{
    background-color: rgb(187, 187, 187);
    margin: 20px auto;
    width: 446px;;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
}
.retangulo1{
    width: 260px;
    height: 5%;
    display: flex;
}
.geral1{ 
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
    margin-block-end: 50px;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: flex-start;
}
.button1{
    background-color: #DA9C9C;
    font-size: 18px;
    border-radius: 20px;
    width: 180px;
    height:35px;
}
.titulof{
    font-size: 20px;
}
.termosf{
    font-size: 15px;
}