.fundo6{
    background-color: rgb(161, 156, 156);
    margin: 20px auto;
    width: 446px;;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
}
.geral6{ 
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
    margin-block-end: 50px;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: flex-start;
}
.retangulo6{
    width: 260px;
    display: flex;
}
.preço{
    width: 100px;
    height: 5%;
    display: flex;
}
.button6{
    background-color: #e07f7f;
    font-size: 18px;
    border-radius: 20px;
    width: 180px;
    height:35px;
    cursor: pointer;
    margin-top: 12px;
}