.fundo4{
    background-color: rgb(187, 187, 187);
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.geral4{ 
    justify-content: space-between;
    width: 60%;
    margin-top: 50px;
    margin-block-end: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
}
.button4{
    background-color: #DA9C9C;
    font-size: 18px;
    border-radius: 20px;
    width: 180px;
    height:35px;
    margin-top: 15px;
}
.retangulo4{
    width: 270px;
    display: flex;
}