.cardis{
    width: 185px;
    border-radius: 25px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
    flex-direction: row;
}
.coração{
    cursor: pointer;
}
.textinho{
    text-align: center;
}