.List{
    display:flex;
    list-style: none;
    align-items: center;
}
.item{
    margin-right: 1em;
}
.item a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.item a :hover {
    color: rgb(228, 138, 193);
}